<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Lecture Summary</title>
    <link rel="icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <section class="header">
        <div class="row-box">
            <img class="logo" data-aos="zoom-in" src="/static/Images/logo.png">
            <div class="logo-group">
                <h1 class="title" data-aos="fade-right" data-aos-delay="500">Smart Lecture Summary</h1>
                <h2 class="slogan" data-aos="fade-right" data-aos-delay="1000">Summarise now, study later</h2>
            </div>
            <div class="status-group" data-aos="fade-left" data-aos-delay="1500">
                <div class="section-head">Service Status:</div>
                <div>Server: <span class="status-indicator green"></span></div>
                <div>OpenAI: <span class="status-indicator {{ key_status }}"></span></div>
                <div>FFMPEG: <span id="ffmpeg-status" class="status-indicator"></span></div>
            </div>
        </div>
        <div class="division" data-aos="fade-right" data-aos-delay="2000"></div>
    </section>
    
    <section class="main">
        <div class="section upload">
            <p class="section-head">Audio Upload: </p>
            <input id="audio" type="file" onchange="upload()">
        </div>

        <div class="division"></div>
        
        <div class="section output">
            <p class="section-head">FFMPEG Output:</p>
            <pre id="ffmpeg-output">Loading...</pre>
        </div>

        <div class="division"></div>

        <div class="section download">
            <button>Download</button>
        </div>
    </section>

    <div class="background"></div>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animations.js')}}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
