<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/testing.css') }}">
</head>
<body>
    <h1>Hello World!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <p>{{ key_status }}</p>

    <input id="audio" type="file" onchange="upload()">
    <p id="message"></p>

    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/testing.js') }}"></script>
    

</body>
</html>
